@import "../../theme/utils/variables";
.Home-wrapper {
  text-align: center;
}

.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: Home-logo-spin infinite 20s linear;
  }
}

.Home-content {
  background-color: $dark--color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $light--color;
  h1, h2, h3 {
    color: $light--color;
    margin: 0;
  }
}

.Home-link {
  color: $primary--color;
  text-decoration: none;
  &:hover {
    color: $secondary--color;
  }
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
